---
import Layout from '../../layouts/Layout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import BlogCard from '../../components/BlogCard.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout title={`Blog - ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
	<div class="page-content">
		<section>
			<h1 class="page-title">Blog Posts</h1>
			<div class="blog-grid">
				{posts.map((post) => (
					<BlogCard post={post} />
				))}
			</div>
		</section>
	</div>
</Layout>

<style>
	.page-content {
		max-width: 960px;
		margin: 0 auto;
		padding: 2rem;
	}
	.blog-grid {
		display: grid;
		gap: 2rem;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
	.page-title {
		text-align: center;
		margin-bottom: 3rem;
		color: rgb(var(--black));
	}
	@media (max-width: 720px) {
		.page-content {
			padding: 1rem;
		}
		.blog-grid {
			grid-template-columns: 1fr;
		}
	}
</style>
